[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Meegopas
Exec=/usr/bin/invoker -s --type=silica-qt5 /usr/bin/Meegopas
Icon=/usr/share/themes/jolla-ambient/meegotouch/icons/Meegopas.png
